@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  padding: 2rem clamp(12px, 3.42%, 36px) 1.5rem;
  max-width: 60rem;
  margin: 0 auto;
}

.information {
  text-align: center;
  margin-bottom: 40px;
}

.user {
  margin-bottom: 12px;
}
.user_img {
  width: 100px;
  margin: 0 auto 12px;
}
.user_img img {
  border-radius: 1rem;
}
.name {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  color: #4e5150;
  margin-bottom: 4px;
}
.city {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 10px;
  color: #a9a9a9;
}
.stats {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}
.stat {
  background: #e5e5e5;
  border-radius: 12px;
  width: 80px;
  padding-block: 12px;
}
.stat_num {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  color: #4e5150;
}
.stat_name {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  color: #bdbdbd;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(12px, 3.42%, 36px);
  margin-bottom: 44px;
}

.image img {
  border-radius: 12px;
  height: 100%;
  width: 100%;
}

.img2 {
  grid-column: span 2 / auto;
}

.img3 {
  grid-column: span 2 / auto;
}

.img4 {
  grid-row: span 2 / auto;
}

footer {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #b9bdcf;
}

footer a,
footer a:focus {
  color: currentColor;
  font-weight: 600;
}

@media (min-width: 38rem) {
  body {
    padding-top: 4rem;
  }
  .information {
    margin-bottom: 64px;
  }
  .user_img {
    width: 156px;
    margin-bottom: 16px;
  }
  .name {
    font-size: 24px;
    margin-bottom: 8px;
  }
  .city {
    font-size: 14px;
  }
  .user {
    margin-bottom: 24px;
  }
  .stats {
    gap: 1.5rem;
  }
  .stat {
    width: 100px;
    padding-block: 14px;
  }
  .stat_num {
    font-size: 18px;
  }
  .stat_name {
    font-size: 14px;
  }
  .gallery {
    margin-bottom: 134px;
  }
}
